<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space_category.name %>
</p>

<%= link_to 'Edit', edit_space_category_path(@space_category) %> |
<%= link_to 'Back', space_categories_path %>
